/* Custom CSS goes here */

/* .navbar {
    background: linear-gradient(135deg, #117ecc 0%, #0584c4 100%);
} */

.card-user {
    max-width: 80px;
}

.navbar-avatar {
    height: 30px;
    margin-top: -10px;
    margin-bottom: -10px;
}