body {
    margin:0;
    padding:20px;
  }


#answer_yes{
    border: none;
    margin:0;
    padding:8px;
    padding-right: 870px;
    background:#f7f7f7;
    margin-bottom:5px;
    cursor: pointer;
 
}


#answer_no {
    border: none;
    margin:0;
    padding:8px;
    padding-right: 870px;
    background:#f7f7f7;
    margin-bottom:5px;
    cursor: pointer;

}

#submit {
    border: none;
    margin:0;
    padding:8px;
    padding-right: 870px;
    /* width:900px; */
    background:#f7f7f7;
    margin-bottom:5px;
    cursor: pointer;

}

#dropdownMenuButton {
  background-color: rgb(164, 197, 161);
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


  .quiz {
    padding:0 30px 20px 30px;
    max-width:960px;
    margin:0 auto;
    

  }
  .quiz-question {
    font-weight:bold;
    display:block;
    padding:30px 0 10px 0;
    margin:0;
  }
  .quiz-answer {
    margin:0;
    padding:10px;
    background:#f7f7f7;
    margin-bottom:5px;
    cursor: pointer;
    
    

  }
  .quiz-result {
    max-width:960px;
    margin:0 auto;
    font-weight:bold;
    text-align:center;
    color: #fff;
    padding:20px;
    
  }