body {
    margin:0;
    padding:20px;
  }


#answer_yes{
    border: none;
    margin:0;
    padding:8px;
    padding-right: 870px;
    background:#f7f7f7;
    margin-bottom:5px;
    cursor: pointer;
 
}


#answer_no {
    border: none;
    margin:0;
    padding:8px;
    padding-right: 870px;
    background:#f7f7f7;
    margin-bottom:5px;
    cursor: pointer;

}

#submit {
    border: none;
    margin:0;
    padding:8px;
    padding-right: 870px;
    /* width:900px; */
    background:#f7f7f7;
    margin-bottom:5px;
    cursor: pointer;

}

#dropdownMenuButton {
  background-color: rgb(164, 197, 161);
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


  .quiz {
    padding:0 30px 20px 30px;
    max-width:960px;
    margin:0 auto;
    

  }
  .quiz-question {
    font-weight:bold;
    display:block;
    padding:30px 0 10px 0;
    margin:0;
  }
  .quiz-answer {
    margin:0;
    padding:10px;
    background:#f7f7f7;
    margin-bottom:5px;
    cursor: pointer;
    
    

  }
  .quiz-result {
    max-width:960px;
    margin:0 auto;
    font-weight:bold;
    text-align:center;
    color: #fff;
    padding:20px;
    
  }




  .quiz-card {
    /* Add shadows to create the "card" effect */
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 800px;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    padding-top: 10px;
    opacity: .85;
    background-color: white;
  }


  /* .mint {
    background-image: url('mint.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  } */

  .mint {
    width: 1200px;
    height:600px;
    background-image: url("/static/images/mint.jpg");
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: repeat;
    /* text-align:center; */
    margin:auto;
    padding:0;
  }

